<div id="nav-toggle">
<a class="btn">Toggle Nav</a>
</div>

<section class="example" ready notready="false">
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btntwo">click me</a>
</section>

<section class="example two" ready notready="false">
  <a class="btn">click me</a>
  <a class="btn">click me</a>
</section>
