<section class="example">
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btntwo">click me</a>
</section>

<section class="example two">
  <a class="btn">click me</a>
  <a class="btn">click me</a>
</section>
