<div id="nav-toggle">
  <a class="btn">Toggle Nav</a>
</div>

<section class="example" data-one="something cool" >
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btntwo">click me</a>
</section>

<section class="example two" data-two>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btntwo">click me</a>
</section>

<section class="example three" data-three>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
  <a class="btntwo">click me</a>
</section>

<section class="example four" data-four>
  <a class="btn">click me</a>
  <a class="btn">click me</a>
</section>
