////
/// Bandujo Test utilities.
/// @group Base
/// @author Chris W. Burke
////

// Import Project Google Fonts
@import 'https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,300i,400,700,900,900i"';

// Local Project Fonts
@font-face {
	font-family: 'ADAM.CG PRO';
	src: url('/fonts/adam.eot');
	src: url('/fonts/adam.eot?#iefix') format('embedded-opentype'),
		url('/fonts/adam.woff2') format('woff2'),
		url('/fonts/adam.woff') format('woff'),
		url('/fonts/adam.ttf') format('truetype'),
		url('/fonts/adam.svg#adam') format('svg');
	font-weight: normal;
	font-style: normal;
}
