////
/// Bandujo Test utilities.
/// @group Utilities
/// @author Chris W. Burke
////

/// Helper to manage `z-index`.
/// Tries to fetch the z-index mapped to `$layer` in `$z-indexes` map.
/// If found, returns it, else returns `null`.
/// @example scss
/// z-index: z("default")
/// @param {String} $layer - Layer
/// @throws No z-index found for `$layer`.
/// @return {Number | Null}
@function z($layer) {
    @if not map-has-key($z-indexes, $layer) {
        @warn 'No z-index found for `#{$layer}`.';
    }
    @return map-get($z-indexes, $layer);
}

/// Helper to manage `color`.
/// Tries to fetch the color mapped to `$variant` in `$color` map.
/// If found, returns it, else returns `null`.
/// @example scss
/// color: color('primary', $variant, $opacity: 'light')

@function color( $name: 'primary', $variant: $color-key, $opacity: 1) {

    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($colors, $name);

    // Get the color variant
    @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
    }

    // Get the alpha setting
    $alpha: if(type-of($opacity) == 'number', $opacity, map-get($opacity, $opacity));

    // Set the alpha of the color
    @if $alpha {
    $color: rgba($color, $alpha);
    }

    @return $color;
}
