<header class="header">
	<div class="container">

		<div class="vox-logo col-xs-4">
			<img src="images/vox-logo.svg" alt="Vox Logo"/>
		</div>

		<div class="vox-logo col-xs-4 nav-toggle-container">
			<a href="#" class="nav-toggle" id="nav-toggle">
				<span class="burger-icon"></span>
			</a>
		</div>


	</nav>
</header>
