////
/// Frontend Boilerplate Variables | Colors.
/// @group Variables
/// @author SapientNitro
////

$color-key: 'base' !default;

$colors: (
    'primary': (
        'base': #1ec4c0,
        'dark': #4bd0cd,
        'medium': #78dcd9,
        'light': #a5e7e6,
        'dim': #d2f3f2
    )
);

$opacity: (
  'light': 0.8,
  'dark': 0.4
);
