////
/// Bandujo Test Variables | Colors.
/// @group Variables
/// @author Chris W. Burke
////

$color-key: 'base' !default;

$colors: (
    'primary': (
		'base': #FFF,
        'yellow': #F8E81C,
        'black': #000000
    )
);

$opacity: (
  'light': 0.8,
  'dark': 0.4
);
